<h3>Notes for version <%= edition.version_number %></h3>

<dl class="dl-horizontal">
  <% edition.actions.reverse.each do |action| %>
    <dt><%= action.created_at.strftime("%d/%m/%Y") %>  <%= action.created_at.strftime("%R") %></dt>
    <dd>
    <strong><%= action.to_s %></strong> by
    <% if action.requester %>
      <%= mail_to action.requester.email, action.requester.name %>
    <% else %>
      GOV.UK Bot
    <% end %>

    <% if action.comment.present? %>
      <%= simple_format(escape_once(action.comment), {}, :sanitize => false) %>
    <% end %>
    </dd>
  <% end %>
</dl>
