<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id=<%= edition.version_number %>>
        <% if edition.version_number > 1 %>
          Version <%= edition.version_number %> <%= link_to "Compare with version #{edition.version_number - 1}", diff_admin_edition_path(edition.to_param, compare_id: edition.previous_version.to_param), class: "govuk-link govuk-body compare-version-link" %>
        <% else %>
          Version <%= edition.version_number %>
        <% end %>
      </span>
    </h2>
  </div>
  <div class="govuk-accordion__section-content" aria-labelledby="<%= edition.version_number %>">
    <% edition.actions.reverse.each do |action| %>
      <%= render "edition_action", action: action %>
    <% end %>
  </div>
</div>
