<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Version <%= edition.version_number %>

      <% if edition.version_number > 1 %>
        <%= link_to "Compare with version #{edition.version_number - 1}",
              diff_admin_edition_path(edition.to_param, compare_id: edition.previous_version.to_param),
              class: 'pull-right' %>
      <% end %>
    </h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal remove-bottom-margin">
      <% edition.actions.reverse.each do |action| %>
        <dt><%= action.created_at.strftime("%d/%m/%Y") %>  <%= action.created_at.strftime("%R") %></dt>
        <dd>
        <strong><%= action.to_s %></strong> by
        <% if action.requester %>
          <%= mail_to action.requester.email, action.requester.name %>
        <% else %>
          GOV.UK Bot
        <% end %>

        <% if action.comment.present? %>
          <%= simple_format(escape_once(action.comment), {}, :sanitize => false) %>
        <% end %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
