<h3 class="govuk-heading-m govuk-!-margin-top-3">Govspeak help</h3>

<div class="app-c-markdown-guidance">
  <p>For full examples <%= link_to "read the Govspeak guidance (opens in a new tab)", "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown", target:"_blank", rel: "external noreferrer noopener", class: "govuk-link" %></p>

  <%= render "govuk_publishing_components/components/details", {
    title: "Paste and convert to Markdown",
    margin_bottom: 0
  } do %>
    <p>You can paste formatted text and it’ll be converted into Govspeak Markdown in fields which use and support Markdown.</p>
    <p>This works best when copy and pasting from text editing software like Word or Google Docs. It is less likely to recognise formatting from PDFs.</p>
    <p>It will convert:</p>
    <ul>
      <li>headings</li>
      <li>bullets</li>
      <li>numbered lists</li>
      <li>links</li>
      <li>email links</li>
    </ul>
    <p>Other formatting, such as tables, will be removed and only plain text pasted. You’ll need to write the Markdown for these separately.</p>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Headers",
    margin_bottom: 0
  } do %>
    <p class="govuk-hint">Note that the page already has a top heading from the article name.</p>
    <p>Add each definition in its own paragraph at the end of the body copy.</p>
    <pre class="app-c-markdown-guidance__code-snippet">
    ## Top level sub-heading
    ### Second level sub-heading
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Text styles",
    margin_bottom: 0
  } do %>
    <pre class="app-c-markdown-guidance__code-snippet">
    <p class="govuk-hint">Use bold sparingly - using too much will make it difficult for users to know which parts of your content they need to pay the most attention to. Read more about using bold in the <%= link_to "GOV.UK style guide (opens in a new tab)", "https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style", target:"_blank", rel: "external noreferrer noopener", class: "govuk-link" %>.</p>
    <p>**This text will be bold**</p>
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Acronyms",
    margin_bottom: 0
  } do %>
    <p>Definitions for acronyms that will appear if the user hovers the mouse over it.</p>
    <p>Add each definition in its own paragraph at the end of the body copy.</p>
    <pre class="app-c-markdown-guidance__code-snippet">
    *[TLA]:Three-letter acronym
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Bulleted list",
    margin_bottom: 0
  } do %>
    <pre class="app-c-markdown-guidance__code-snippet">
    * item 1
    * item 2
    * item 3
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Numbered list",
    margin_bottom: 0
  } do %>
    <pre class="app-c-markdown-guidance__code-snippet">
    1. item 1
    2. item 2
    3. item 3
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "List of steps",
    margin_bottom: 0
  } do %>
    <pre class="app-c-markdown-guidance__code-snippet">
    s1. item 1
    s2. item 2
    s3. item 3
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Tables",
    margin_bottom: 0
  } do %>
    <p class="govuk-hint">Read more about <%= link_to "using table Markdown (opens in a new tab)", "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown#tables", target:"_blank", rel: "external noreferrer noopener", class: "govuk-link" %>
    <pre class="app-c-markdown-guidance__code-snippet">
    Fruit | Colour
    -|-
    apple | green
    banana | yellow
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Internal links",
    margin_bottom: 0
  } do %>
    <p class="govuk-hint">Use when linking to <code>http://www.gov.uk/</code>.</p>
    <pre class="app-c-markdown-guidance__code-snippet">
    [Income tax rates](/income-tax-rates)
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "External links",
    margin_bottom: 0
  } do %>
    <pre class="app-c-markdown-guidance__code-snippet">
    [link text](http://www.example.com)
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Download link style",
    margin_bottom: 0
  } do %>
    <pre class="app-c-markdown-guidance__code-snippet">
    $D[link text](http://example.com)$D
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Info boxes",
    margin_bottom: 0
  } do %>
    <p class="govuk-hint">These can contain other Govspeak items.</p>
    <pre class="app-c-markdown-guidance__code-snippet">
      ^Info box^
      %Warning or alert box%
      @Highlighted information box@
    </pre>
  <% end %>
</div>
