<div class="panel panel-default part">
  <div class="panel-heading js-sort-handle">
    <h4 class="panel-title" >
      <a data-toggle="collapse" href="#<%= f.object.slug || 'untitled-part' %>">
        <i class="glyphicon glyphicon-chevron-down glyphicon-smaller-than-text add-right-margin pull-left"></i>
        <%= f.object.title.present? ? f.object.title : 'Untitled part' %>
      </a>
    </h4>
  </div>
  <div id="<%= f.object.slug || 'untitled-part' %>" class="panel-collapse <% if f.object.valid? %>collapse <% end %>">
    <div class="panel-body">

      <fieldset class="inputs">
        <div class="string input required stringish form-group">
          <span class="form-label">
            <%= f.label :title, class: "control-label" do %>
              Title<abbr title="required">*</abbr>
            <% end %>
          </span>
          <span class="form-wrapper">
            <%= f.text_field :title, required: true, disabled: !editable, class: "title input-md-8 form-control" %>
          </span>
        </div>

        <div class="text input required stringish form-group">
          <span class="form-label">
            <%= f.label :body, class: "control-label" do %>
              Body<abbr title="required">*</abbr>
            <% end %>
          </span>
          <span class="form-wrapper">
            <%= f.text_area :body, required: true, disabled: !editable, class: "input-md-8 form-control", rows: 25 %>
          </span>
        </div>

        <div class="string input required stringish form-group">
          <span class="form-label">
            <%= f.label :slug, class: "control-label" do %>
              Slug<abbr title="required">*</abbr>
            <% end %>
          </span>
          <span class="form-wrapper">
            <%= f.text_field :slug, required: true, disabled: !editable, class: "slug input-md-8 form-control" %>
          </span>
        </div>

        <p class="help-block">
          <i class="glyphicon glyphicon-info-sign"></i> eg title-of-part (no spaces, apostrophes, etc).
        </p>

        <%= f.hidden_field :order, disabled: !editable, class: "order" %>

        <% if editable %>
          <hr>
          <%= f.hidden_field :_destroy, value: false %>
          <%= f.submit value: "Remove part", class: "btn btn-danger pull-right remove-associated", data: { selector: ".part" } %>
        <% end %>
      </fieldset>

    </div>
  </div>
</div>
