<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @edition, url: admin_edition_path(@edition), as: :edition, html: { multipart: true } do |f| %>
      <%= render("change_notes") if @edition.draft? %>
      <%= render(@edition.draft? ? "metadata" : "metadata_summary") %>
      <%= render(@edition.draft? ? "summary_content" : "summary_content_summary") %>
      <%= render(@edition.draft? ? "parts" : "parts_summary") %>

      <% if @edition.draft? %>
        <div class="govuk-button-group govuk-!-margin-top-9 edition-form__action-button-group">
          <%= render "govuk_publishing_components/components/button", {
            text: "Save",
            value: "Save",
            name: "commit",
          } %>
          <%= link_to "Cancel", admin_country_path(@edition.country_slug), :class => "govuk-link" %>
          <%= render "govuk_publishing_components/components/button", {
            text: "Save & Publish",
            value: "Save & Publish",
            name: "commit",
            secondary: true,
          } %>
        </div>
      <% end %>
      <%= preview_edition_link(@edition, false, { class: "govuk-body govuk-link govuk-link--no-visited-state edition-form__action-preview-link" }) %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-side-wrapper">
      <div class="app-side">
        <div class="app-side__actions">
          <% if !@country.has_draft_edition? %>
            <%= form_with url: admin_country_editions_path(@country.slug), method: :post do |f| %>
              <%= render "govuk_publishing_components/components/button", {
                text: "Create new edition"
              } %>
            <% end %>
          <% end %>
          <% if @edition.published? %>
            <%= form_for @edition, url: admin_edition_path(@edition), as: :edition, html: { multipart: true } do |f| %>
              <%= render "govuk_publishing_components/components/button", {
                text: "Update review date",
                value: "Update review date",
                name: "commit",
                secondary: true,
              } %>
            <% end %>
          <% end %>
          <%= preview_edition_link(@edition, false, { class: "govuk-link", style_as_button: true }) %>
          <% if @edition.draft? %>
            <%= form_with url: admin_edition_path(@edition), method: :delete, classes: "govuk-!-margin-bottom-0" do |f| %>
              <%= render "govuk_publishing_components/components/button", {
                text: "Delete edition",
                destructive: true,
              } %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="app-side">
        <div class="app-side__actions">
          <%= render "admin/link_check_reports/link_check_report", edition: @edition, report: @edition.latest_link_check_report %>
        </div>
      </div>
      <% if @edition.draft? %>
        <div class="app-side">
          <div class="app-side__actions">
            <%= render "govspeak_guidance_design_system" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
