<ul class="breadcrumb">
  <li>
    <%= link_to "All countries", admin_countries_path %>
  </li>
  <li><%= link_to @country.name, admin_country_path(@country.slug) %></li>
  <li class="active">Editing <%= @country.name %></li>
</ul>

<div class="page-title">
  <h1><%= @country.name %> <small>Comparing Version <%= @edition.version_number %> with <%= @comparison.version_number %></small></h1>
</div>

<p>
  <%= link_to "Back to version #{@edition.version_number}", edit_admin_edition_path(@edition), :class => "btn btn-default" %>
</p>

<h2>Summary</h2>
<%= diff_html(@comparison.summary, @edition.summary) %>

<% @edition.parts.each_with_index do |part, index| %>
  <h2><%= part.title.present? ? part.title : 'Untitled part' %></h2>
  <%= diff_html(@comparison.parts[index].try(:body), part.body) %>
<% end %>
