<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: 'All countries',
        url: admin_countries_path,
      },
      {
        title: @country.name,
        url: admin_country_path(@country.slug),
      },
      {
        title: "Editing #{@country.name}",
      }
    ]
  } %>
<% end %>

<%= content_for :title, @country.name %>
<%= content_for :context, "Comparing Version #{@edition.version_number} with #{@comparison.version_number}" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    text: "Back to version #{@edition.version_number}",
    href: edit_admin_edition_path(@edition)
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% unless @comparison.summary.nil? && @edition.summary.nil? %>
      <div class="govuk-!-margin-bottom-5">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Summary",
          margin_bottom: 3
        } %>

        <div class="govuk-body">
          <%= diff_html(@comparison.summary, @edition.summary) %>
        </div>
      </div>
    <% end %>

    <% @edition.parts.each_with_index do |part, index| %>
      <div class="govuk-!-margin-bottom-5">
        <%= render "govuk_publishing_components/components/heading", {
          text: part.title.present? ? part.title : "Untitled part",
          margin_bottom: 3
        } %>

        <div class="govuk-body">
          <%= diff_html(@comparison.parts[index].try(:body), part.body) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
