<div class="page-header">
  <h1>Editing <%= @country.name %> <small>Version <%= @edition.version_number %></small></h1>
</div>

<%= semantic_form_for @edition, :url => admin_edition_path(@edition), :as => :edition do |f| %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#edit" data-toggle="tab">Edit</a></li>
      <li><a href="#history" data-toggle="tab">History &amp; Notes</a></li>
    </ul>

    <div class="row-fluid">
      <div class="tab-content span12">
        <div class="tab-pane active" id="edit">
          <div class="span8">
            <%= f.inputs :name => "Metadata" do %>
              <%= f.input :title, :label => "Search title", :required => true, :input_html => { :disabled => ! @edition.draft?, :class => "span9" } %>
              <%= f.input :overview, :label => "Search description",
                :as => :text, :input_html => { :class => "span9", :rows => 4, :disabled => ! @edition.draft? } %>

              <% unless @edition.version_number == 1 %>
                <%= f.input :minor_update, :as => :boolean, :input_html => { :disabled => ! @edition.draft? } %>
              <% end %>
              <%= f.input :change_description, :as => :text, :required => true, :input_html => { :class => "span9", :rows => 4, :disabled => ! @edition.draft? } %>
              <%= f.input :csv_synonyms, :hint => "Enter synonyms for this country, comma separated.", :label => "Country Synonyms", :required => false, :input_html => { :class => "span9", :disabled => ! @edition.draft? } %>
            <% end %>

            <%= f.inputs "Map image" do %>
              <% if @edition.image %>
                <div class="well uploaded-image">
                  <p><strong>Current map image</strong></p>
                  <p><%= image_tag @edition.image.file_url %></p>
                  <p><%= label_tag do %>Remove image? <%= check_box_tag "edition[remove_image]", "1" %><% end %></p>
                </div>

                <h4>Replace map image</h4>
              <% end %>

              <%= f.input :image, :as => :file, :label => "Upload a new map image" %>
            <% end %>

            <%= f.inputs "Map PDF" do %>
              <% if @edition.document %>
                <div class="well uploaded-document">
                  <p><strong>Current PDF</strong></p>
                  <p><%= link_to @edition.document.file_url do %>Download <em><%= @edition.document.name %></em><% end %></p>
                  <p><%= label_tag do %>
                    Remove PDF? <%= check_box_tag "edition[remove_document]", "1" %>
                  <% end %></p>
                </div>

                <h4>Replace PDF</h4>
              <% end %>

              <%= f.input :document, :as => :file, :label => "Upload a new PDF" %>
            <% end %>

            <%= f.inputs :name => "Summary content" do %>
              <%= f.input :alert_status, :as => :check_boxes, :collection => alert_statuses_with_labels(TravelAdviceEdition::ALERT_STATUSES) %>
              <%= f.input :summary, :as => :text, :input_html => { :class => "span9", :disabled => ! @edition.draft? } %>
            <% end %>

            <hr>

            <%= f.inputs :name => "Parts" do %>
              <section class="accordion" id="parts">
                <%= f.semantic_fields_for :parts, f.object.parts.in_order do |part| %>
                  <%= render :partial => '/admin/editions/part', :locals => {:f => part, :editable => @edition.draft?} %>
                <% end %>
              </section>

              <% if @edition.draft? %>
                <button class="btn btn-success add-associated" data-target="parts" data-tmpl_id="tmpl-parts">Add new part</button>
              <% end %>

              <%= f.add_associated_jquery_template :parts, :partial => '/admin/editions/part',
                  :locals => {:editable => @edition.draft?} %>
            <% end %>
          </div>

          <div class="span4">
            <h3>Govspeak help</h3>

            <div class="well">
              <%= render "govspeak_help" %>
            </div>
          </div>
        </div><!-- edit pane -->

        <div class="tab-pane" id="history">
          <div class="span6">
            <%= f.fields_for :note do |h| %>
              <%= h.input :comment, :label => "Note", :as => :text, :input_html => { :class=> 'span12', :rows => 6 } %>
              <%= h.commit_button :label => "Add Note", :button_html => { :class => "btn btn-success" } %>
            <% end %>
          </div>

          <div class="span6">
            <%= render :partial => 'edition_history', :collection => @country.editions, :as => :edition %>
          </div>
        </div><!-- history pane -->
      </div>

    </div>

    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="workflow_buttons">
            <%= f.submit "Save", :class => 'btn btn-success', :disabled => ! @edition.draft? %>
            <%= link_to "Delete", admin_edition_path(@edition), :method => :delete, :class => 'btn btn-danger', :disabled => ! @edition.draft? %>
            <%= link_to "Cancel", admin_country_path(@edition.country_slug), :class => "btn btn-primary" %>

            <span class="pull-right">
              <%= link_to "Preview saved version", preview_edition_path(@edition), :class => "btn", :target => "blank" %>
              <% if @edition.draft? %>
                <%= f.submit "Save & Publish", :class => "btn btn-danger" %>
              <% elsif !@country.has_draft_edition? %>
                <%= link_to "Create new edition", "#", :class => "btn btn-success", :id => "new-from-existing-edition" %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_tag admin_country_editions_path(@edition.country_slug, :edition_version => @edition.version_number),
      :id => "clone-edition", :method => :post do %>
<% end %>
