<ul class="breadcrumb">
  <li>
    <%= link_to "All countries", admin_countries_path %>
  </li>
  <li><%= link_to @country.name, admin_country_path(@country.slug) %></li>
  <li class="active">Editing <%= @country.name %></li>
</ul>

<div class="page-title">
  <h1>Editing <%= @country.name %> <small>Version <%= @edition.version_number %></small></h1>
</div>

<%= semantic_form_for @edition, :url => admin_edition_path(@edition), :as => :edition do |f| %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#edit" data-toggle="tab">Edit</a></li>
      <li><a href="#history" data-toggle="tab">History &amp; Notes</a></li>
    </ul>

      <div class="tab-content add-bottom-margin">
        <div class="tab-pane active row" id="edit">
          <div class="col-md-8">
            <%= f.inputs :name => "Type of update" do %>
              <% unless @edition.version_number == 1 %>
                <h5>Minor update</h5>
              <p>Tick the box if the only change you're making is minor (eg fixing a typo or a small change to wording).</p>
                <%= f.input :minor_update, :as => :boolean, :input_html => { :disabled => ! @edition.draft? } %>
              <% end %>
              <div id="major_update_input">
                <h5>Major update</h5>
                <% unless @edition.version_number == 1 %>
                  <p>If the change is major, leave a description below. An email will be sent to subscribers with your description of the change.</p>
                <% end %>
                <%= f.input :change_description, :as => :text, :label => "Change description (plain text)", :required => true, :input_html => {
                  :class => "input-md-8", :rows => 4, :disabled => ! @edition.draft? } %>
              </div>
            <% end %>

            <%= f.inputs :name => "Metadata" do %>
              <%= f.input :title, :label => "Search title (plain text)", :required => true, :input_html => { :disabled => ! @edition.draft?, :class => "input-md-8" } %>
            <%= f.input :overview, :label => "Search description (plain text)",
              :as => :text, :input_html => { :class => "input-md-8", :rows => 4, :disabled => ! @edition.draft? } %>

              <%= f.input :csv_synonyms, :hint => "Enter synonyms for this country, comma separated.", :label => "Country Synonyms", :required => false, :input_html => { :class => "input-md-8", :disabled => ! @edition.draft? } %>
            <% end %>

            <%= f.inputs :name => "Summary content" do %>
              <%= f.input :alert_status, :as => :check_boxes, :collection => alert_statuses_with_labels(TravelAdviceEdition::ALERT_STATUSES) %>
              <label>Map Image</label>
              <% if @edition.image %>
                <div class="well uploaded-image">
                  <p><strong>Current map image</strong></p>
                  <p><%= image_tag @edition.image.file_url %></p>
                  <p><%= label_tag do %>Remove image? <%= check_box_tag "edition[remove_image]", "1" %><% end %></p>
                </div>

                <p><strong>Replace map image</strong></p>
              <% end %>
              <%= f.input :image, :as => :file, :label => "Upload a new map image" %>


              <label>PDF Document</label>
              <% if @edition.document %>
                <div class="well uploaded-document">
                  <p><strong>Current PDF</strong></p>
                  <p><%= link_to @edition.document.file_url do %>Download <em><%= @edition.document.name %></em><% end %></p>
                  <p><%= label_tag do %>
                    Remove PDF? <%= check_box_tag "edition[remove_document]", "1" %>
                  <% end %></p>
                </div>

                <p><strong>Replace PDF</strong></p>
              <% end %>

              <%= f.input :document, :as => :file, :label => "Upload a new PDF" %>
              <%= f.input :summary, :label => "Summary (govspeak available)", :as => :text, :input_html => { :class => "input-md-8", :disabled => ! @edition.draft? } %>

            <% end %>

            <%= f.inputs :name => "Parts (govspeak available)" do %>
              <section class="panel-group" id="parts">
                <%= f.semantic_fields_for :parts, f.object.parts.in_order do |part| %>
                  <%= render :partial => '/admin/editions/part', :locals => {:f => part, :editable => @edition.draft?} %>
                <% end %>
              </section>

              <% if @edition.draft? %>
                <button class="btn btn-success add-associated" data-target="parts" data-tmpl_id="tmpl-parts">Add new part</button>
              <% end %>

              <%= f.add_associated_jquery_template :parts, :partial => '/admin/editions/part',
                  :locals => {:editable => @edition.draft?} %>
            <% end %>
          </div>

          <div class="col-md-4 govspeak-container">
            <h3>Govspeak help</h3>

            <div class="well">
              <%= render "govspeak_help" %>
            </div>
          </div>
        </div><!-- edit pane -->

        <div class="tab-pane row add-top-margin" id="history">
          <div class="col-md-6">
            <%= f.fields_for :note do |h| %>
              <%= h.input :comment, :label => "Note", :as => :text, :input_html => { :class=> 'input-md-6', :rows => 6 } %>
              <%= h.action :submit, :label => "Add Note", :button_html => { :class => "add-top-margin btn btn-success" } %>
            <% end %>
          </div>

          <div class="col-md-6">
            <%= render :partial => 'edition_history', :collection => @country.editions, :as => :edition %>
          </div>
        </div><!-- history pane -->
      </div>

    <div class="navbar navbar-default navbar-fixed-bottom text-center">
      <div class="navbar-inner">
        <div class="container">
          <div class="navbar-btn">
            <%= f.submit "Save", :class => 'btn btn-success', :disabled => ! @edition.draft? %>
            <%= link_to "Delete", admin_edition_path(@edition), :method => :delete, :class => 'btn btn-danger', :disabled => ! @edition.draft? %>
            <%= link_to "Cancel", admin_country_path(@edition.country_slug), :class => "btn btn-primary" %>
            <span class="navbar-right">
              <%= link_to "Preview saved version", preview_edition_path(@edition), :class => "btn btn-default", :target => "blank" %>
              <% if @edition.published? %>
                <%= f.submit "Update review date", :class => "btn btn-success" %>
              <% end %>
              <% if @edition.draft? %>
                <%= f.submit "Save & Publish", :class => "btn btn-danger" %>
              <% elsif !@country.has_draft_edition? %>
                <%= link_to "Create new edition", "#", :class => "btn btn-success", :id => "new-from-existing-edition" %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_tag admin_country_editions_path(@edition.country_slug, :edition_version => @edition.version_number),
      :id => "clone-edition", :method => :post do %>
<% end %>
