<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: 'All countries',
        url: admin_countries_path,
      },
      {
        title: @country.name,
        url: admin_country_path(@country.slug),
      },
      {
        title: "Editing #{@country.name}",
      },
    ]
  } %>
<% end %>

<%= content_for :title, "Editing #{@country.name}"%>
<%= content_for :context, "Version #{@edition.version_number}" %>

<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#edit">Edit</a>
    </li>

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#history">History & Notes</a>
    </li>
  </ul>

  <div class="govuk-tabs__panel" id="edit">
    <%= render :partial => 'tab_edit' %>
  </div>

  <div class="govuk-tabs__panel" id="history">
    <%= render :partial => 'tab_history', :locals => { edition: @edition } %>
  </div>
</div>
