<header>
  <h1><%= @presenter.country.name %> travel advice</h1>
</header>

<div class="content-block" id="summary">
  <%= render partial: "country_summary", locals: {presenter: @presenter}, formats: :html %>
</div>

<% @presenter.parts.each do |part| %>
  <article class="content-block" id="<%= part.slug %>">
    <header>
      <h1><%= part.title %></h1>
    </header>

    <%= raw part.body %>
  </article>
<% end %>
