<h2><%= @country.name %></h2>

<%= form_tag({:action => :update}, { :method => :put, :id => "related-items"}) do %>
  <% if @artefact.related_artefact_ids.length > 0 %>
    <% @artefact.related_artefact_ids.each_with_index do |id, index| %>
      <%= render :partial => "related_content", :locals => {
            :id => id, :index => index, :related_items => @related_items} %>
    <% end %>
  <% end %>

  <%= render :partial => "related_content", :locals => {
        :id => nil, :index => "empty", :related_items => @related_items} %>

  <div class="row-fluid">
    <div class="btn-group">
      <button class="btn btn-primary" id="add-related-item" type="button">Add another related item</button>
      <%= submit_tag "Save", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>
