<h1 class="page-title-with-border">
  Related Items for <%= @country.name %>
</h1>

<%= form_tag({:action => :update}, { :method => :put, :id => "related-items"}) do %>
  <h3>Global related items</h3>
  <ul id="global-related-items">
  <% @global_related_artefacts.each_with_index do |artefact, index| %>
    <li id="global-related-<%= index %>"><%= artefact.name %></li>
  <% end %>
  </ul>

  <h3>Country-specific related items</h3>
  <div class="js-related-items">
    <% if @artefact.related_artefact_ids.length > 0 %>
      <% @artefact.related_artefact_ids.each_with_index do |id, index| %>
        <%= render :partial => "related_content", :locals => {
              :id => id, :index => index, :related_items => @related_items} %>
      <% end %>
    <% end %>
    <%= render :partial => "related_content", :locals => {
        :id => nil, :index => "empty", :related_items => @related_items} %>
  </div>

  <button class="js-add-related-item btn btn-default add-right-margin" type="button">Add another related item</button>
  <%= submit_tag "Save", :class => "btn btn-success" %>
<% end %>
