<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: 'All countries',
        url: admin_countries_path,
      },
      {
        title: @country.name,
      }

    ]
  } %>
<% end %>

<%= content_for :title, @country.name %>

<% unless @country.has_draft_edition? %>
  <form action="<%= admin_country_editions_path(@country.slug) %>" method="post">
    <%= render "govuk_publishing_components/components/button", {
    text: "Create new edition",
  } %>
  </form>
<% end %>

<%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self) do |table| %>
  <%= table.head do %>
    <%= table.header "Version" %>
    <%= table.header "State" %>
    <%= table.header "Updated" %>
    <%= table.header "Reviewed" %>
    <%= table.header "" %>
  <% end %>

  <%= table.body do %>
    <% @country.editions.each do |edition| %>
      <%= table.row do %>
        <%= table.cell "Version #{edition.version_number}" %>
        <%= table.cell edition.state %>
        <%= table.cell timestamp(edition.updated_at) %>
        <%= table.cell edition.reviewed_at ? timestamp(edition.reviewed_at) : "N/A" %>
        <%= table.cell edition_edit_link(edition) + " — " + preview_edition_link(edition, true, target: "blank", class: "govuk-link") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
