<ul class="breadcrumb">
  <li>
    <%= link_to "All countries", admin_countries_path %>
  </li>
  <li class="active"><%= @country.name %></li>
</ul>

<h1 class="page-title">
  <%= @country.name %>
</h1>


<% unless @country.has_draft_edition? %>
  <%= button_to "Create new edition",
    admin_country_editions_path(@country.slug),
    :class => "btn btn-success" %>
<% end %>

<table class="table table-bordered table-striped add-top-margin">
  <thead>
    <tr class="table-header">
      <th>Version</th>
      <th>State</th>
      <th>Updated</th>
      <th>Reviewed</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @country.editions.each do |edition| %>
      <tr>
        <td>Version <%= edition.version_number %></td>
        <td><%= edition.state %></td>
        <td><%= timestamp(edition.updated_at) %></td>
        <td><%= edition.reviewed_at ? timestamp(edition.reviewed_at) : "N/A" %></td>
        <td><%= edition_edit_link(edition) %> — <%= preview_edition_link(edition, true, :target => "blank") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
