<h2><%= @country.name %></h2>

<div class="row-fluid">
  <% unless @country.has_draft_edition? %>
    <%= button_to "Create new edition", admin_country_editions_path(@country.slug), :class => "btn btn-success" %>
  <% end %>

  <%= button_to "Edit related content", edit_admin_country_path(@country.slug),
      :method => :get, :class => "btn btn-primary" %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Version</th>
      <th>State</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @country.editions.each do |edition| %>
      <tr>
        <td>Version <%= edition.version_number %></td>
        <td><%= edition.state %></td>
        <td><%= timestamp(edition.updated_at) %></td>
        <td><%= edition_edit_link(edition) %> - <%= link_to "preview", preview_edition_path(edition), :target => "blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
