<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: 'All countries',
        url: admin_countries_path,
      },
      {
        title: @country.name,
        url: admin_country_path(@country.slug),
      },
      {
        title: "Editing #{@country.name}",
        url: edit_admin_edition_path(@edition),
      },
      {
        title: "Edit #{@part.title}",
      },
    ]
  } %>
<% end %>

<%= content_for :title, "Edit #{@part.title}" %>

<%= render 'shared/error_summary', object: @part %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @part, url: admin_country_edition_part_path(@edition.country_slug, @edition, @part), method: :patch do |f| %>
        <%= render 'form_fields' %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-side-wrapper">
      <div class="app-side">
        <div class="app-side__actions">
          <%= render "shared/govspeak_guidance_design_system" %>
        </div>
      </div>
    </div>
  </div>
</div>
