<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= @presenter.title %> - GOV.UK</title>
  <% if @presenter.overview.present? %>
    <meta name="description" content="<%= @presenter.overview %>">
  <% end %>
  <%= render "layouts/analytics" %>
  <%= stylesheet_link_tag "historical-edition", media: "all" %>

  <script type="text/javascript">
    window.onload = function() { window.print(); }
  </script>

  <%= yield :extra_headers %>
  <%= yield :head %>
</head>

<body>
  <header role="banner" class="group" id="global-header">
    <div id="logo">
      <img src="<%= asset_path 'gov.uk_logotype_crown_invert.png' %>" alt=""> GOV.UK
    </div>
  </header>

  <div id="wrapper" class="travel-advice-guide">
    <main role="main" id="content">
    <%= yield %>
    </main>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
