<% content_for :head do %>
  <%= stylesheet_link_tag "legacy", :media => "all" %>
  <%= javascript_include_tag 'legacy' %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :favicon do %>
  <% environment_style = GovukAdminTemplate.environment_style %>
  <%= favicon_link_tag environment_style ?
        "favicon-#{environment_style}.png" : "favicon.png" %>
<% end %>

<% content_for :app_title, 'GOV.UK Travel Advice Publisher' %>
<% content_for :page_title, content_for(:app_title) %>

<% content_for :navbar_items do %>
  <li>
    <%= link_to "All countries", admin_countries_path %>
  </li>
<% end %>

<% content_for :navbar_right do %>
  Hello, <%= link_to current_user.name, Plek.new.external_url_for('signon') %>
  &bull; <%= link_to 'Sign out', gds_sign_out_path %>
<% end %>

<% content_for :content do %>
  <% [:notice, :alert].select { |k| flash[k].present? }.each do |k| %>
    <div class="alert alert-warning">
      <%= flash[k] %>
    </div>
  <% end %>
  <%= yield %>
<% end %>

<%# use the govuk_admin_foundation layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
